<ActionBar title="Storybook Preview" flat="true" backgroundColor="#75ACEB" color="#fff"></ActionBar>
<GridLayout rows="auto, *" columns="*" backgroundColor="#75ACEB">
    <StackLayout margin="15" padding="20" borderRadius="15" backgroundColor="#FFF"> 
        <Label text="Component:" color="#555" fontSize="12"></Label>
        <Label [text]="componentName || '-'" color="#333" fontSize="18" fontWeight="bold"></Label>
    </StackLayout>
    <GridLayout row="1" rows="*" columns="*" backgroundColor="#fff" borderRadius="25 25 0 0">
        <GridLayout rows="auto" columns="*" #target></GridLayout>
    </GridLayout>
</GridLayout>